<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happy.live"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 有米传媒 Android SDK 所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 可选 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- /有米传媒 Android SDK 所需权限 -->

    <application
        android:name="org.videolan.libvlc.VLCApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.happy.live.SplashActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.happy.live.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.happy.live.ListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.happy.live.CollectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.happy.live.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.happy.live.PlayActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.qiyi.live.play" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.happy.live.VLCPlayActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.qiyi.live.vlcplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->
        
        
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="51c0127456240be312004bac" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
        
    </application>

</manifest>